# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#myshtuff
.gitignore~
GameDesignDoc.md~
README.md~
bomb.cpp~
bomb.h~
bullet.cpp~
bullet.h~
cloud.cpp~
cloud.h~
ejet.cpp~
ejet.h~
game_guangore
game_guangore.pro
gamewindow.cpp~
gamewindow.h~
hearts.cpp~
hearts.h~
jet.cpp~
jet.h~
main.cpp~
mainwindow.cpp~
mainwindow.h~
missile.cpp~
missile.h~
moc_gamewindow.cpp
moc_mainwindow.cpp
moc_score.cpp
pjet.cpp~
pjet.h~
score.cpp~
score.h~
config.txt
html/
latex/
Makefile
highscores.txt
highscores.txt~
